# from gitignore.io

*.class
*.ear
*.iml
*.ipr
*.iws
*.jar
*.log
*.stTheme.cache
*.sublime-workspace
*.tmlanguage.cache
*.tmPreferences.cache
*.war
*~
.cache
.directory
.history
.idea/
.idea_modules/
.lib/
.mtj.tmp/
.scala_dependencies
.Trash-*
.worksheet
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
dependency-reduced-pom.xml
dist/*
hs_err_pid*
lib_managed/
out/
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
project/boot/
project/plugins/project/
release.properties
sftp-config.json
src_managed/
target/